<%   
place1 = "Cass Lake"
place2 = "Banff"
place3 = "Grand Canyon"
place_new = "New Place"

%>

  <h1>Places I Have Been</h1>

  <p>
<%=place1%>
</p>

<p>
<%=place2%>
</P>

<p>
<%=place3%>
</P>

<p>
<%=place_new%>
</P>
  



